.signup-authetication {
    border-radius: 1.875rem;
    box-shadow: 0px 0px 10px 3px #00000014;
    background-color: #FFFFFF;
}

.signup-authentication-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4375rem;
    padding: 48px 115px 48px 115px;
}

.signup-headline {
    width: 100%;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.back-to-login {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.signup-form-input {
    height: 17.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.form-input-container {
    position: relative;

    img {
        position: absolute;
        top: 50%;
        right: 1.3125rem;
        transform: translateY(-50%);
    }
}

.input {
    width: 26.375rem;
    padding: 12px 21px 12px 21px;
    border-top: 0;
    border-bottom: .0625rem solid #d1d1d1;
    border-left: 0;
    border-right: 0;
    font-size: 1.1875rem;
    
    ::placeholder {
        color: #d1d1d1;
    }
}

.remember-me {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
}

.checkbox {
    cursor: pointer;
}

.privacy-policy-checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    a {
        cursor: pointer;
        color: #4589FF;

        &:hover {
            text-decoration: underline;
        }
    }
}

.signup-authetication-btn-registered {
    padding: 10px 20px 10px 20px;
    border-radius: .5rem;
    font-size: 1.4375rem;
}