<div class="summary">
  <div class="summary-container">
    <div class="greetings">Good morning,</div>
    <div class="summary-tasks">
      <div class="summary-tasks-top">
        <div class="summary-tasks-urgent"></div>
        <div class="summary-tasks-in-board"></div>
      </div>
      <div class="summary-tasks-bottom">
        <div class="summary-tasks-to-do"></div>
        <div class="summray-tasks-in-progress"></div>
        <div class="summary-tasks-awaiting-feedback"></div>
        <div class="summary-tasks-done"></div>
      </div>
    </div>
  </div>
</div>
