.login-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.1875rem;
    padding-left: 4.8125rem;
    padding-right: 4.8125rem;
}

.login-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    padding-bottom: 4.1875rem;
}

a{
    color: #42526E;
    &:visited{
        color: #42526E;
    }
}